* {
  background-color: rgb(57, 00, 00);
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

#header {
  font-family: 'Brush Script MT', cursive;
  color: gold;
  font-size: 60px;
  text-align: center;
}

img {
  width: 250px;
  height: auto;
  margin: 10px;
}

div {
  width: 900px;
  height: 250px;
  border-top: 2mm ridge gold; 
}

#chicken,
#eggs {
  float: left;
}

#pork {
  float: right;
}

p {
  padding: 10px;
  margin: 10px;
}